html {
    font-family: 'calibri';
}

#card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.card {
    opacity: 0;
    margin: 15px 5px;
    padding: 15px 30px;
    border: 3px solid black;
    border-radius: 5px;
    font-size: 26px;
    transform: translateX(100px);
    transition: 150ms;
}

.card.show {
    opacity: 1;
    transform: translateX(0px);
}
